<h2>
  <%= @subject.name%>
</h2>
<b>Кількість запитань</b><%= @subject.questions_size%> <br/>
<b>Кількість часу: </b> <%= @subject.time_size%> хв.   <br/>
<%= link_to "Розпочати тестування", attempts_path(subject_id: @subject.id), method::post, class:"btn btn-primary" %>
<p><%= subject.desc%></p>

<% if current_user.is_admin?%>
  <%=render @questions%>
<%end%>
