<h2>
Тестування з <%= @attempt.subject.name%>
</h2>
<%if @attempt.work?%>
Закінчить в <%= @attempt.finish_at%>
Залишилось <%= ((@attempt.finish_at-Time.now)/60).round(0) %> хвилин

<h3>
  Виберіть правильну відповідь
</h3>
<h2>
  <%= @question.name%>
</h2>
<ul style="decorate: none">
<% @question.variants.each do |variant| %>
  <li>
  <%=link_to  variant.name,check_answer_attempt_path(@attempt,variant_id: variant.id),method: :post, class: "btn btn-primary"%>
  </li>
<%end%>
</ul>
<%= link_to "Наступне", attempt_path(@attempt)%>
<%else%>
<h5>
  Результати тесту
</h5>
<ul>
  <li><%= @attempt.answers.map{|x|x.variant&.correct}%></li>
</ul>

<%= link_to "Розпочати тестування", attempts_path(subject_id: @attempt.subject_id), method: :post, class:"btn btn-primary" %>
<%end%>
