
<%if @attempt.work?%>
Закінчить в <%= @attempt.finish_at%>
Залишилось <%= Time.new(@attempt.finish_at-Time.now).strftime("%H хвилин")%>

<h3>
  Виберіть правильну відповідь
</h3>
<h2>
  <%= @question.name%>
</h2>
<ul style="decorate: none">
<% @question.variants.each do |variant| %>
  <li>
  <%=link_to  variant.name,check_answer_attempt_path(@attempt,question_id: @question_id,variant_id: variant.id),method: :post, class: "btn btn-primary"%>
  </li>
<%end%>
</ul>
<%= link_to "Наступне", attempt_path(@attempt)%>
<%else%>
Результати та розпочати заново
<%end%>
